/* || BLOCKS */
.main {
    position: absolute;
    width: calc(100% - 300px);
    left: 300px;
    min-height: 100svh;

    transition: 0.5s;
}

/* || ELEMENTS */
.main__topbar {
    position: sticky;
    top: 0;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    padding: 0 10px;
}

.main__menu {
    position: relative;
    width: 60px;
    height: 60px;
    font-size: 2rem;
    cursor: pointer;
}

.main__search {
    position: relative;
    width: 400px;
    margin: 0 10px;
}


.main__label {
    position: relative;
    width: 100%;
}

.main__input {
    width: 100%;
    height: 40px;
    border-radius: 40px;
    padding: var(--PADDING);
    padding-left: 2em;
    font-size: 1rem;
    border: 1px solid var(--BORDER-COLOR);
}

.main__label ion-icon {
    position: absolute;
    top: 0;
    left: 10px;
    font-size: var(--FS);
}

.main__user {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid var(--BORDER-COLOR);
}

.main__user
img {
    width: 100%;
    border-radius: 50%;
}

.main__card-container {
    position: relative;

    width: 100%;
    padding: var(--PADDING);
    margin-top: var(--MARGIN-TB);

    display: grid;
    grid-template-columns: repeat(4 , 1fr);
    grid-gap: 30px;
}

.main__card {
    position: relative;
    background-color: white;
    padding: 30px;
    border-radius: var(--BORDER-RADIUS);

    display: flex;
    justify-content: space-between;
    cursor: pointer;

    box-shadow: var(--SHADOWS);
}

.main__numbers {
    color: var(--PRIMARY-COLOR);
    font-size: 1.5rem;
}

.main__cardtitle {
    color: var(--CARD-COLOR);
    font-size: 0.8rem;
    
}

.main__card-image {
    font-size: 2.2rem;
    color: var(--CARD-COLOR);
}

/* DETAILS */

.main__detail-container {
    position: relative;

    width: 100%;
    min-height: 500px;

    padding: var(--PADDING);
    margin-top: var(--MARGIN-TB);

    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 30px;

}

.main__detail-card {
    position: relative;

    background-color: whitesmoke;
    padding: 30px;
    border-radius: var(--BORDER-RADIUS);

    /* box-shadow: var(--SHADOWS); */
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);


}
.main__card-head {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-start;
}

.main__card-head h2 {
    color: var(--PRIMARY-COLOR);
}

.main__btn {
    padding: var(--PADDING);
    background-color: var(--PRIMARY-COLOR);
    color: white;
    border: none;
    border-radius: var(--BORDER-RADIUS);
    cursor: pointer;
    border: 2px solid var(--PRIMARY-COLOR);
    transition: 0.6s;
}

.main__profile {
    width: 35px;
    border-radius: 50%;
}

.main__table {
    width: 100%;
    margin-top: var(--MARGIN-TB);
    text-align: center;
    overflow-y: scroll;
}

.main__counter {
    counter-reset: srno 658945;
}

.main__profileid {
    counter-reset: srno 1000;
}

.main__srno::before {
    counter-increment: srno;
    content: "#"counter(srno);
}

.main__status {
    font-weight: bold;
}

/* || ACTIONS */

.main-active {
    width: calc(100% - 80px);
    left: 80px;
}

.main__card:hover {
    background-color: var(--PRIMARY-COLOR);
}

.main__card:hover :is(.main__numbers , .main__cardtitle , .main__card-image) {
    color: white;
}

.main__btn:hover {
    background-color: white;
    color: var(--PRIMARY-COLOR);
    font-weight: bold;
}

/* tbody tr {
    cursor: pointer;
    border-radius: var(--BORDER-RADIUS);
}

tbody tr:hover {
    background-color: var(--PRIMARY-COLOR);
    color: white;
} */


/* || MODIFIERS */
.pending {
    color: rgb(171, 145, 0);
}

.delievered {
    color: green;
}

.cancelled {
    color: red;
}