@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-primary {
    background-color: #00000066;
}

.text-primary {
    color: #00000066;
}

.bg-secondary {
    background-color: #01fee2;
}

.text-secondary {
    color: #01fee2;
}

.border-secondary {
    border-color: #01fee2;
}

.bg-third {
    background-color: #0e1114;
}

.text-third {
    color: #0e1114;
}

.bg-themegray {
    background-color: #8799ab;

}

.bg-themegray-2 {
    background-color: #667c92;
}

.text-themegray {
    color: #8799ab;
}

.text-themegray-2 {
    color: #667c92;
}

.bg-themewhite {
    background-color: #f1f3f5;
}

.text-themewhite {
    color: #f1f3f5;
}

.flex-center {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.flex-between {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}