$type-scale: (
    mobile: (
        300: 1rem,
        400: 1.25rem,
        500: 1.5rem,
        600: 2rem,
        700: 2.5rem,
        800: 3rem,
    ),
    ipad: (
        300: 1rem,
        400: 1.45rem,
        500: 2rem,
        600: 2.8rem,
        700: 3.7rem,
        800: 4.25rem,
    ),
    laptop: (
        300: 1.2rem,
        400: 1.7rem,
        500: 2.3rem,
        600: 3rem,
        700: 3.98rem,
        800: 4.3rem,
    ),
    tv: (
        300: 1.2rem,
        400: 1.7rem,
        500: 2.3rem,
        600: 3rem,
        700: 3.98rem,
        800: 4.3rem,
    ),
)