<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grid Template</title>
    <link rel="stylesheet" href="grid_template.css">
    <link rel="stylesheet" href="utility.css">
</head>

<body>
    <header class="header grid-center">
        <h1 class="header__title">CSS Grid Template</h1>
    </header>

    <div class="subnav grid-center">
        <h1 class="subnav__title">Grid Area</h1>
    </div>

    <div class="main">
        <h1 class="main__title">Blog Posts</h1>
        <div class="main_cardcontainer">
            <div class="main__card card-radius card-shadow">
                <div class="main__cardimage item-center ">
                    <img src="./jenil.jpeg" alt="Author" class="card-radius">
                </div>
                <h2 class="main__cardtitle">Blog Title</h2>
                <div class="main__cardcontent garbage">
                    <p class="main__paracontent text-clip">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    <a href="" class="main__btn border-btn card-radius transition">Read More</a>
                </div>
            </div>
            <div class="main__card card-radius card-shadow">
                <div class="main__cardimage item-center ">
                    <img src="./jenil.jpeg" alt="Author" class="card-radius">
                </div>
                <h2 class="main__cardtitle">Blog Title</h2>
                <div class="main__cardcontent garbage">
                    <p class="main__paracontent text-clip">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    <a href="" class="main__btn border-btn card-radius transition">Read More</a>
                </div>
            </div>
            <div class="main__card card-radius card-shadow">
                <div class="main__cardimage item-center ">
                    <img src="./jenil.jpeg" alt="Author" class="card-radius">
                </div>
                <h2 class="main__cardtitle">Blog Title</h2>
                <div class="main__cardcontent garbage">
                    <p class="main__paracontent text-clip">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    <a href="" class="main__btn border-btn card-radius transition">Read More</a>
                </div>
            </div>
            <div class="main__card card-radius card-shadow">
                <div class="main__cardimage item-center ">
                    <img src="./jenil.jpeg" alt="Author" class="card-radius">
                </div>
                <h2 class="main__cardtitle">Blog Title</h2>
                <div class="main__cardcontent garbage">
                    <p class="main__paracontent text-clip">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    <a href="" class="main__btn border-btn card-radius transition">Read More</a>
                </div>
            </div>

        </div>
    </div>

    <aside class="sidebar p-general">
        <h1 class="sidebar__title">Sidebar</h1>
        <p class="sidebar__content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste fugiat iure
            voluptatem
            sit, placeat aperiam iusto, aliquam similique minima reiciendis vero libero? Nulla quidem voluptate
            atque
            quaerat ex mollitia neque?</p>
    </aside>

    <footer class="footer grid-center">
        <h1 class="footer__title">The End &copy;</h1>
    </footer>
</body>

</html>