<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grid Template</title>
</head>

<body>
    <header class="header">
        <h1 class="header__title">CSS Grid Template</h1>
    </header>

    <div class="subnav">
        <h1 class="subnav__title">Grid Area</h1>
        <p class="subnav__subtitle">Lorem, ipsum.</p>
    </div>

    <div class="main">
        <h1 class="main__title">Blog Posts</h1>
        <div class="main__card">
            <img src="./jenil.jpeg" alt="Author" class="main__cardimage">
            <h2 class="main__cardtitle">Blog Title</h2>
            <div class="main__cardcontent">
                <p class="main__paracontent">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum, unde.
                    Consequuntur commodi reiciendis animi dicta ducimus facilis magnam ab! Sed doloribus debitis
                    repellendus odit similique tempora earum dolores quaerat illum sapiente natus ad dolore aliquid illo
                    non itaque, ullam neque?</p>
                <a href="" class="main__btn">Read More</a>
            </div>
        </div>
    </div>

    <aside class="sidebar">
        <h1 class="sidebar__title">Sidebar</h1>
        <p class="sidebar__content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste fugiat iure voluptatem
            sit, placeat aperiam iusto, aliquam similique minima reiciendis vero libero? Nulla quidem voluptate atque
            quaerat ex mollitia neque?</p>
    </aside>

    <footer class="footer">
        <h1 class="footer__title">The End &copy;</h1>
    </footer>
</body>

</html>